[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aio-pika = "*"
datamart-client = {editable = true, path = "./datamart_client"}
datamart-coordinator = {editable = true, path = "./datamart_coordinator"}
datamart-core = {editable = true, path = "./datamart_core"}
datamart-profiler = {editable = true, path = "./datamart_profiler"}
datamart-query = {editable = true, path = "./datamart_query"}
python-dateutil = "*"

[dev-packages]
ipykernel = "*"
pandas = "*"

[requires]
python_version = "3.6"
