[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datamart_profiler = {editable = true, path = "./lib_profiler"}
datamart_materialize = {editable = true, path = "./lib_materialize"}
datamart_augmentation = {editable = true, path = "./lib_augmentation"}
datamart_core = {editable = true, path = "./lib_core"}
coordinator = {editable = true, path = "./coordinator"}
profiler = {editable = true, path = "./profiler"}
query = {editable = true, path = "./query"}
noaa = {editable = true, path = "./discovery/noaa"}
socrata = {editable = true, path = "./discovery/socrata"}

[dev-packages]
flake8 = "*"
PyYaml = "*"
requests = "*"
coverage = "*" # Keep it in sync with Dockerfiles for CI
jsonschema = ">=3.0,<4"
readme_renderer = "*"

[requires]
python_version = "3.6"
