[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aio-pika = "*"
datamart = {editable = true, path = "./lib_client"}
datamart_profiler = {editable = true, path = "./lib_profiler"}
datamart_materialize = {editable = true, path = "./lib_materialize"}
datamart_core = {editable = true, path = "./lib_core"}
coordinator = {editable = true, path = "./coordinator"}
profiler = {editable = true, path = "./profiler"}
query = {editable = true, path = "./query"}
noaa = {editable = true, path="./discovery/noaa"}
socrata = {editable = true, path="./discovery/socrata"}

[dev-packages]
flake8 = "*"
ipykernel = "*"

[requires]
python_version = "3.6"
