/*
 * Icon sizes
 */

 .feather {
  width:  15px;
  height: 17px;
  vertical-align: text-bottom;
}

.feather-lg {
  width:  20px;
  height: 20px;
  vertical-align: text-bottom;
}

.btn .feather {
  width: 18px;
  height: 20px;
}

.btn-sm .feather {
  width: 16px;
  height: 18px;
}
