{% extends "base.html" %}
{% set active_page = "index" %}

{% block contents %}

<div class="container">
  <h1>Search the Web for Datasets</h1>

  <form class="form-inline" id="search-form">
    {{ xsrf_form_html() }}
    <label for="keywords" class="mr-sm-2">Keywords:</label>
    <input type="text" class="form-control mb-2 mr-sm-2 col-md-8" id="keywords" name="keywords">
    <button type="submit" class="btn btn-primary mb-2">Search</button>
  </form>
</div>

<hr>

<div style="display: none;" class="alert alert-danger" role="alert" id="search-error">
  No results
</div>

<div class="list-group">
<div class="list-group-item"><div class="form-row align-items-center">
  <div class="col-md-1 my-1">
      <input type="checkbox" class="form-control" checked>
  </div>
  <div class="col-md-8 my-1">
    <span class="mr-sm-2">Result 1</span><br>
    <small><code>http://url.of.result.1/page/from/bing</code></small>
  </div>
  <div class="col-auto my-1">
    <button type="submit" class="btn btn-outline-primary">Ingest <span aria-hidden="true">&raquo;</span></button>
  </div>
  <div class="row col-md-12">
    <ul class="list-unstyled col-md-10 offset-md-1">
      <li>
        <input type="checkbox" checked>
        <code>http://url.of.result.1/file1.csv</code>
        <span class="badge badge-pill badge-success">CSV</span>
      </li>
      <li>
        <input type="checkbox" checked>
        <code>http://url.of.result.1/extra/another.file.csv</code>
        <span class="badge badge-pill badge-warning">XLSX</span>
      </li>
      <li>
        <input type="checkbox" checked disabled>
        <code>http://url.of.result.1/already.processed.file.csv</code>
        <span class="badge badge-pill badge-success">CSV</span>
      </li>
    </ul>
  </div>
</div></div>

<div class="list-group-item"><div class="form-row align-items-center">
  <div class="col-md-1 my-1">
      <input type="checkbox" class="form-control">
  </div>
  <div class="col-md-8 my-1">
    <span class="mr-sm-2">Result 2</span><br>
    <small><code>http://another.result/with.a/different/url.html</code></small>
  </div>
  <div class="col-auto my-1">
    <button type="submit" class="btn btn-outline-primary">Ingest <span aria-hidden="true">&raquo;</span></button>
  </div>
  <div class="row col-md-12">
    <ul class="list-unstyled col-md-10 offset-md-1">
      <li>
        <input type="checkbox">
        <code>http://url.of.result.1/file1.csv</code>
        <span class="badge badge-pill badge-success">CSV</span>
      </li>
    </ul>
  </div>
</div></div>
</div>

<script type="text/javascript" src="{{ static_url('js/websearch.js') }}"></script>

{% endblock %}
