{% extends "base.html" %}
{% set active_page = "index" %}

{% block contents %}

<div class="container mb-3">
  <h1>Search the Web for Datasets</h1>

  <form class="form-inline" id="search-form">
    {{ xsrf_form_html() }}
    <label for="keywords" class="mr-sm-2">Keywords:</label>
    <input type="text" class="form-control mb-2 mr-sm-2 col-md-8" id="keywords" name="keywords">
    <button type="submit" class="btn btn-primary mb-2">Search</button>
  </form>
</div>

<div style="display: none;" class="alert alert-danger" role="alert" id="search-error">
  No results
</div>

<div class="list-group" id="results">
</div>

<div class="form-group row justify-content-center mt-4">
  <button class="btn btn-lg btn-outline-primary btn-block offset-md-7 col-md-4" type="submit">Ingest checked results</button>
</div>

<script type="text/javascript" src="{{ static_url('js/websearch.js') }}"></script>

{% endblock %}
