/* Some space before content */
.container-body {
  padding-top: 1em;
}

table.json th, table.json td {
  border: 1px solid #dee2e6;
}

.tab-content {
  border-style: solid;
  border-width: 1px;
  border-color: #fff #dee2e6 #dee2e6 #dee2e6;
  padding: 0.4em;
}
