/* Some space before content */
.container-body {
  padding-top: 1em;
}

.tab-content {
  border-style: solid;
  border-width: 1px;
  border-color: #fff #dee2e6 #dee2e6 #dee2e6;
  padding: 0.4em;
}

.navbar-dark .navbar-brand {
  cursor: default;
  font-size: 130%;
}

#search {
  background-color: #e9ecef;
  border-radius: .3rem;
  padding: 1.5rem 1.5rem;
}

#search h1 {
  text-align: center;
  font-size: 3rem;
}

.map {
  height: 400px;
  width: 100%;
}

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.loader {
  border: 5px solid #dcdcdc; /* Light grey */
  border-top: 5px solid #57068c; /* NYU Purple */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* https://www.colorbox.io/#steps=7#hue_start=209#hue_end=172#hue_curve=easeInQuad#sat_start=12#sat_end=90#sat_curve=easeOutCubic#sat_rate=130#lum_start=84#lum_end=53#lum_curve=easeOutQuad#minor_steps_map=0 */
.badge.semtype {
  background-color: #b1c4d5;
  color: white;
}

.badge.semtype.semtype-text {
  background-color: #aec2d4;
}

.badge.semtype.semtype-boolean {
  background-color: #a1bbce;
}

.badge.semtype.semtype-enumeration {
  background-color: #89b1c4;
}

.badge.semtype.semtype-identifier {
  background-color: #5fa4b5;
}

.badge.semtype.semtype-latitude, .badge.semtype.semtype-longitude {
  background-color: #249ca0;
}

.badge.semtype.semtype-datetime {
  background-color: #008775;
}
