{% extends "base.html" %}
{% set active_page = "index" %}

{% block contents %}
<h2>Recent uploads:</h2>
<ul>
  {% if recent_uploads %}
  {% for upload in recent_uploads %}
  <li data-dataset-id="{{ upload.id }}" class="recent-upload"><a href="{{ upload.link }}" target="_blank">{{ upload.name }}</a>, {{ upload.discovered }}</li>
  {% endfor %}
  {% else %}
  <li style="font-style: oblique;">No recent uploads</li>
  {% endif %}
</ul>

<form class="form-inline" id="delete-by-id">
  <label for="delete-input" class="col-sm-2 col-form-label mb-2">Delete dataset:</label>
  <input type="text" class="form-control mb-2" id="delete-input" placeholder="dataset ID" required />
  <button type="submit" class="btn btn-primary mb-2">Delete</button>
</form>

<h2>Errored datasets:</h2>
<ul>
  {% if error_counts %}
  {% for error_type, error_count in error_counts %}
  <li><a href="{{ reverse_url('errors', error_type) }}">{{ error_type }}</a>: {{ error_count }}</li>
  {% endfor %}
  {% else %}
  <li style="font-style: oblique;">No errors recorded</li>
  {% endif %}
</ul>

<h2>Maintenance</h2>

<form class="form-inline" id="reprocess">
  <label for="reprocess-input" class="col-sm-2 col-form-label mb-2">Reprocess dataset:</label>
  <input type="text" class="form-control mb-2" id="reprocess-input" placeholder="dataset ID" required />
  <button type="submit" class="btn btn-primary mb-2">Reprocess</button>
</form>

<form class="form-inline" id="purge-source">
  <label for="purge-source-input" class="col-sm-2 col-form-label mb-2">Purge all datasets from source:</label>
  <input type="text" class="form-control mb-2" id="purge-source-input" placeholder="materializer or source" required />
  <button type="submit" class="btn btn-primary mb-2">Purge</button>
</form>


<script async>
function getCookie(name) {
  var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
  return r ? r[1] : undefined;
}

function deleteDataset(datasetId) {
  if(confirm('Really delete dataset ' + datasetId + ' ?')) {
    var req = new XMLHttpRequest();
    req.open('POST', '/api/delete_dataset/' + datasetId + '?_xsrf=' + encodeURIComponent(getCookie('_xsrf')));
    req.onload = function() {
      if(req.status === 204) {
        alert('Dataset deleted');
        window.location.reload();
      } else {
        alert('Error deleting dataset ' + datasetId);
      }
    };
    req.onerror = function() {
      alert('Error deleting dataset ' + datasetId);
    };
    req.send();
  }
}

document.querySelectorAll('.recent-upload').forEach(function(li) {
  var datasetId = li.getAttribute('data-dataset-id');
  li.appendChild(document.createTextNode(' '));
  var deleteButton = document.createElement('button');
  deleteButton.innerText = "Delete";
  li.appendChild(deleteButton);
  deleteButton.addEventListener('click', function() { deleteDataset(datasetId); });
});

document.getElementById('delete-by-id').addEventListener('submit', function(e) {
  e.preventDefault();
  deleteDataset(document.getElementById('delete-input').value);
});

function reprocess(datasetId) {
  var req = new XMLHttpRequest();
  req.open('POST', '/api/reprocess_dataset/' + datasetId + '?_xsrf=' + encodeURIComponent(getCookie('_xsrf')));
  req.onload = function() {
    if(req.status === 204) {
      alert('Dataset will be reprocessed');
    } else {
      alert('Error reprocessing dataset ' + datasetId);
    }
  };
  req.onerror = function() {
    alert('Error reprocessing dataset ' + datasetId);
  };
  req.send();
}

document.getElementById('reprocess').addEventListener('submit', function(e) {
  e.preventDefault();
  reprocess(document.getElementById('reprocess-input').value);
});

function purgeSource(source) {
  if(confirm('Really delete ALL DATASETS from source "' + source + '"?')) {
    var req = new XMLHttpRequest();
    req.open('POST', '/api/purge_source' + '?_xsrf=' + encodeURIComponent(getCookie('_xsrf')));
    req.responseType = 'json';
    req.onload = function() {
      if(req.status == 200) {
        alert('Deleted ' + req.response.number_deleted + ' datasets');
      } else {
        alert('Error purging source');
      }
    };
    req.onerror = function() {
      alert('Error purging source');
    };
    req.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    req.send(JSON.stringify({source}));
  }
}

document.getElementById('purge-source').addEventListener('submit', function(e) {
  e.preventDefault();
  purgeSource(document.getElementById('purge-source-input').value);
});
</script>
{% endblock %}
