{% extends "base.html" %}
{% set active_page = "search" %}

{% block contents %}
<section class="jumbotron">
  <div class="container">
    <form id="search-form">
      {{ xsrf_form_html() }}
      <h1>Query DataMart</h1>
      <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
          <label for="keywords">Keywords:</label>
          <input class="form-control" id="keywords" autofocus />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
          <label for="columns">Column names:</label>
          <input class="form-control" id="columns" autofocus />
        </div>
      </div>

      <div class="col-md-8 offset-md-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="type-integer">
          <label class="form-check-label" for="type-integer">Integer</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="type-float">
          <label class="form-check-label" for="type-float">Float</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="type-bool">
          <label class="form-check-label" for="type-bool">Boolean</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="type-text">
          <label class="form-check-label" for="type-text">Text</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="type-datetime">
          <label class="form-check-label" for="type-datetime">Date/time</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="type-spatial">
          <label class="form-check-label" for="type-spatial">Spatial</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="type-phone">
          <label class="form-check-label" for="type-phone">Phone number</label>
        </div>
      </div>

      <div class="form-group row justify-content-center mt-2">
        <button class="btn btn-lg btn-primary btn-block col-md-8" type="submit">Go</button>
      </div>
    </form>
  </div>
</section>

<div style="display: none;" class="alert alert-danger" role="alert" id="search-error">
  No results
</div>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row" id="results">
    </div>
  </div>
</div>

<script type="text/javascript">
var QUERY_HOST = '{{ query_host | safe }}';
</script>
<script type="text/javascript" src="{{ static_url('js/query.js') }}"></script>
{% endblock %}
