{% extends "base.html" %}
{% set active_page = "search" %}

{% block contents %}
<section class="jumbotron">
  <div class="container">
    <form id="search-form">
      {{ xsrf_form_html() }}

      <h1>Search DataMart</h1>

      <hr align="left">
      <h3>Data (CSV or D3M datasetDoc file)</h3>

      <div class="form-row">
        <div class="form-group col-md-8">
         <input type="file" class="form-control-file" name="file" id="file" />
        </div>
      </div>

      <hr align="left">
      <h3>Query</h3>

      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="keywords">Dataset Keywords:</label>
          <input class="form-control" id="keywords" autofocus />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="names">Dataset Name:</label>
          <input class="form-control" id="names" autofocus />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="description">Dataset Description:</label>
          <input class="form-control" id="description" autofocus />
        </div>
      </div>

      <h4>Required Variables</h4>

      <div id="required"></div>
      <div class="form-row">
        <select id="select-required">
          <option value="temporal">Temporal Entity</option>
          <option value="geospatial">Geospatial Entity</option>
          <option value="generic">Generic Entity</option>
        </select>
        <button class="btn btn-secondary btn-sm ml-3" type="button"
                onclick="variableChange('select-required', 'required');">Add</button>
      </div>

      <p></p>

      <h4>Desired Variables</h4>

      <div id="desired"></div>
      <div class="form-row">
        <select id="select-desired">
          <option value="temporal">Temporal Entity</option>
          <option value="geospatial">Geospatial Entity</option>
          <option value="generic">Generic Entity</option>
        </select>
        <button class="btn btn-secondary btn-sm ml-3" type="button"
                onclick="variableChange('select-desired', 'desired');">Add</button>
      </div>

      <div class="form-group row justify-content-center mt-4">
        <button class="btn btn-lg btn-primary btn-block col-md-8" type="submit">Go</button>
      </div>
    </form>
  </div>
</section>

<div style="display: none;" class="alert alert-danger" role="alert" id="search-error">
  No results
</div>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row" id="results">
    </div>
  </div>
</div>

<script type="text/javascript">
var QUERY_HOST = '{{ query_host | safe }}';
</script>
<script type="text/javascript" src="{{ static_url('js/query.js') }}"></script>
{% endblock %}
