{% extends "base.html" %}
{% set active_page = "search" %}

{% block contents %}
<div id="search" class="container">
  <form id="search-form">
    {{ xsrf_form_html() }}
    <h1>Search Auctus</h1>

    <div class="row align-items-center">
      <div class="col-sm-2">
        <label>Match with data:</label>
      </div>
      <div class="col-sm-9 row pr-0">
        <div class="form-group col-sm-5">
          <label for="file">CSV file</label>
          <input type="file" class="form-control-file" name="file" id="file" />
        </div>
        <div class="form-group col-sm-7 pr-0">
          <label for="search_columns">Columns for Join or Union</label>
          <input class="form-control" id="search_columns" placeholder="(all columns)" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 align-items-center">
        <label for="keywords">Keywords:</label>
      </div>
      <div class="form-group col-sm-9">
        <input class="form-control" id="keywords" autofocus />
      </div>
    </div>

    <div id="variables"></div>

    <div class="row align-items-center">
      <div class="col-sm-2">
        <label>Add constraint:</label>
      </div>
      <div class="form-group col-sm-9 row mx-0">
        <select id="select-required" class="form-control col-sm-9">
          <option value="temporal">Temporal</option>
          <option value="geospatial">Geospatial</option>
        </select>
        <button class="btn btn-secondary btn-sm col-sm-3" type="button"
                onclick="variableChange('select-required');">Add</button>
      </div>
    </div>

    <script type="text/x-template" id="variable-temporal-template">
      <div class="row align-items-center">
        <div class="col-sm-3">Temporal constraint:</div>
        <div class="col-sm-9 form-group row align-items-center">
          <div class="col-auto">
            <label for="start-__index__">From</label>
          </div>
          <div class="col-auto">
            <input class="form-control" id="start-__index__">
          </div>
          <div class="col-auto">
            <label for="end-__index__">To</label>
          </div>
          <div class="col-auto">
            <input class="form-control" id="end-__index__">
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="variable-geospatial-template">
      <div class="row align-items-center">
        <div class="col-sm-3">Geospatial bounds:</div>
        <div class="col-sm-9 form-group">
          <div class="d-flex align-items-center">
            <p id="bounds-__index__" class="ml-auto mb-2 text-right" style="font-size: 11px;"> </p>
          </div>
          <div id="map-__index__" class="map mb-1"></div>
          <p class="mb-3" style="font-size: 11px;">Right-click to clear selection.</p>
        </div>
      </div>
    </script>

    <div class="form-group row justify-content-center px-2">
      <button class="btn btn-lg btn-primary btn-block col-md-8" type="submit">Go</button>
    </div>
  </form>
</div>

<div style="display: none;" class="alert alert-danger" role="alert" id="search-error">
  No results
</div>

<div class="album py-5 bg-light">
  <div class="container">
    <div id="processing" style="display:none;">
      <div class="d-flex justify-content-center align-items-center mb-5">
        <div class="loader"></div>
        <div class="ml-3">
          <p class="mb-0 font-weight-bold font-italic">Processing... Please wait!</p>
        </div>
      </div>
    </div>
    <div class="row" id="results"></div>
  </div>
</div>

<script type="text/javascript">
var QUERY_HOST = '{{ query_host | safe }}';
</script>
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
<script type="text/javascript" src="{{ static_url('js/search.js') }}"></script>
{% endblock %}
