{% extends "base.html" %}
{% set active_page = "union_query" %}

{% block contents %}
<div class="list-group" id="recent_discoveries">
    {%- if result['results']|length == 0 %}
        <h5>No results.</h5>
    {%- endif %}
    {%- for r in result['results'] %}
        {%- set external_dataset = r['id'] %}
        {%- set score = r['score'] %}
        {%- set columns = r['columns'] %}
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <a class="list-group-item-action flex-column align-items-start"
               href="javascript:void(0)" onclick="toggle_visibility('info-{{ external_dataset }}');">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ external_dataset }}</h5>
                    <small>{{ score }}</small>
                </div>
            </a>
            <div id="info-{{ external_dataset }}" style="display:none;">
            {%- for att1, att2 in columns %}
                <hr width="60%" align="left">
                <p class="mb-1">{{ att1 }}
                <br>{{ att2 }}</p>
                <small>Score: {{ sim }}</small>
            {%- endfor %}
            </div>
        </div>
    {%- endfor %}
</div>

<script type="text/javascript" src="{{ static_url('js/util.js') }}"></script>
{% endblock %}
